<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Spam Email Detector</title>
</head>
<body>
    <div class="container">
        <h1>Spam Email Detector</h1>

        <form method="POST">

            <label for="email" style="font-size: large;">Enter Email Text:</label><br>
            <textarea id="email" name="email" rows="10" cols="50" required></textarea><br>

            <div class="button-container">
                <button type="submit" id="clearBtn1">Check for Spam</button>
                <button type="button" id="clearBtn">Clear</button>
            </div>

        </form>
        {% if prediction %}
            {% if prediction == 'Spam' %}
                <h2 class="spam">Prediction: {{ prediction }}</h2>
            {% else %}
                <h2 class="not-spam">Prediction: {{ prediction }}</h2>
            {% endif %}
        {% endif %}
    </div>
    <script src="/static/css/js/main.js"></script>
</body>
</html>